<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="css/output.css">
  <link rel="stylesheet" href="css/leaflet.css">
</head>
<body>
  <header>
     <%- include('components/index-navbar') %>
  </header>
  <!-- Main content -->
  <main>
    <div class="h-screen w-screen" id="map"></div>
  </main>
  <!-- Footer content -->
  <footer>
    <script src="bundle.js"></script>
  </footer>
</body>
</html>